@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 500px;
    height: 100vh;
    background-color: #0099ff;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Bebas', sans-serif;
    letter-spacing: px;
    word-spacing: 5px;
    color: #fa9c9c;
}

img {
    width: 300px;
    margin-top: 10px;
    margin: 10px 90px 10px;
    border-radius: 20px;
    box-shadow: #000 7px 5px 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 5px auto 20px;
    color: rgb(191, 202, 38);
    font-family: 'Bebas';
}

p {
    font-size: 20px;
    font-family: 'Oswald';
    margin-left: 20px;
}

b {
    color: rgb(187, 26, 120);
}